    <div class="footer">
    	<div class="row">
    		<div class="span6">
		        <p>&copy; 2014 GDG[x] and the GDG Viz Task Force - <a ng-href="/about">About</a></p>
		        <p>GDG[x] is an independent group; our activities and the opinions expressed on this Page should in no way be linked to Google, the corporation.</p>
		    </div>
		    <div class="span6 pull-right" style="text-align:right">
		        <a href="https://chrome.google.com/webstore/detail/gdgx-satellite/mkocgjlgmonoobpghannondgloaelfdn" tagrget="_blank"><img src="images/cws.png"/></a>&nbsp;<img src="images/cast_ready.png"/>
		    </div>
		</div>
    </div>